---
import ChatHeader from './ChatHeader.astro'
import MessageList from './MessageList.astro'
import ChatInput from './ChatInput.astro'
import TypingIndicator from './TypingIndicator.astro'
---

<div class="flex flex-col h-full bg-slate-900">
  <ChatHeader />
  <MessageList />
  <TypingIndicator />
  <ChatInput />
</div>
